*{
  margin: 0;
  padding: 0;
font-family:century;

}

body{
  text-align: center;
}

  header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../image/Pic1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  ul{
    float: right;
    color: white;
    list-style-type: none;
    margin-top: 25px;
    }

    ul li{
      display: inline-block;
      }


      ul li a{
        text-decoration: none;
        color: white;
        padding: 5px 20px;
        border: 1px solid transparent;
        transition: 0.6s ease;

      }

      ul li a:hover{
        background-color: white;
        color: black;
      }

ul li.active a{
  background-color: white;
  color: black;
}

.logo img{
  float: left;
  width: 150px;
  height: auto;
}

.main{
  max-width: 1200px;
  margin: auto;
}

.company{
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 30px;

}

@font-face {
  font-family: 'Dark Ministry';
  src: url("../fonts/Dark Ministry.ttf");
  font-weight: normal;
  font-style: normal;
}

h1{

  font-family: 'Dark Ministry';
  font-weight: 50;
  font-size: 150px;
color: #5eaaa8;
text-shadow: 0 0 5px grey, 0 0 10px black;
position: absolute;
top: 45%;
left: 50%;
transform: translate(-50%,-50%);

}


h2{

  font-family: 'Dark Ministry';
  font-weight: 50;
  font-size: 60px;
  padding-top: 3%;
color: #5eaaa8;
letter-spacing: 3px;
}



.button{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.btn{
  border: 1px solid white;
  margin: 10px;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  transition: 0.6s ease;
  font-size: 20px;
}

.btn:hover{
  background-color: white;
  color: black;
}

.contact{
  border: solid;
  padding: 30px;
  position: absolute;
  background-color: rgb(0,0,0,0.5);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 30px;
}


.menu{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 30px;
}



#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 3%;
}

.white-section {
  background-color: #fff;
}

.container-fluid{
  padding: 3% 10%;
}

.pic{
  height:25vh;
}

.menubtn{
  border: 1px solid black;
  padding: 10px 30px;
  color: black;
  text-decoration: none;
  transition: 0.6s ease;
}

.menubtn:hover{
  background-color: grey;
  color: white;
}

.sidersection{

  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../image/Pic1.jpg);

}
.carousel-inner{
  padding: 5% 20%;
}


/* footer */
.grey-section {
  margin-top: 5px;
  background-color: #272727;

}

.social-icon {
  margin: 20px 10px;
  color: grey;
  font-size: 50px;
}

.social-icon:hover{
    color: blue;
}

.copyright{
  color: grey;
  margin-bottom: 0px;
}


.gallary{
color: white;
margin-bottom: 0px;
font-family: 'Dark Ministry';
font-weight: 50;
font-size: 50px;
letter-spacing: 3px;
}



@media (max-width: 1028px) {

  h1 {
    text-align: center;
    font-weight: 50;
    font-size: 120px;
    }

  /* .button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15px;

  } */


}
